article {
  display: inline-block;
  height: 180px;
  width: 450px;
  padding: 30px;
  overflow: hidden;

  border-radius: 80px;
  border: black solid 15px;
  /* background-color: alpha; */
  background-color: #80b3ff;
}

section {
  position: relative;
  text-align: left;
}

p {
  height: 75px;
  overflow: hidden;
}
.screen {
  position: relative;
  margin: 20px;
}
.screen1 {
  bottom: 15px;
  right: 0;
}

.screen2 {
  bottom: 20px;
  right: 500px;
}

/* format welcome message */
h1 {
  font-weight: lighter;
  font-size: 42px;
  margin-left: 100px;
}
.prefix {
  font-size: 32px;
}
