<div class="wrap">
  <section>
    <div id="resume-button-base">
      <button id="resume-button" [routerLink]="['resume']">
        <span class="resume-button">
          resume
        </span>
      </button>
    </div>
    <div id="main-content">
      <app-landing-blurb> </app-landing-blurb>
    </div>
    <nav>
      <button class="primary-button blue" [routerLink]="links[0]">
        <span class="blue basic">G</span>
      </button>
      <button class="primary-button blue">
        <span class="blue basic">L</span>
      </button>
      <button class="primary-button blue">
        <span class="blue basic">C</span>
      </button>
    </nav>
  </section>
  <aside>
    <div (click)="scroll('Up')" class="direction-button-listener">
      <button class="up-button direction-button">up</button>
    </div>
    <!-- also use an output main-content's content -->
    <app-reel></app-reel>
    <div (click)="scroll('Down')" class="direction-button-listener">
      <button class="down-button direction-button">
        down
      </button>
    </div>
  </aside>
</div>
