<header>
  <h1>CONTACT</h1>
</header>
<section>
  <form #emailForm="ngForm">
    <label for="name" class="form red">name</label>
    <input
      type="text"
      class="form"
      name="name"
      required
      [ngModel]="email.senderName"
    />

    <label for="from" class="form red">email</label>
    <input
      type="email"
      name="from"
      class="form "
      required
      [ngModel]="email.from"
    />

    <label for="content" class="form red">message</label>
    <textarea
      name="content"
      cols="33"
      rows="8"
      class="form"
      [ngModel]="email.content"
    ></textarea>

    <app-send-resume-button></app-send-resume-button>

    <button type="submit" class="send" (click)="contact($event, emailForm)">
      <span class="blue">
        send
      </span>
    </button>
  </form>
</section>

<aside>
  <div>
    <p></p>
  </div>
  <nav>
    <button
      matTooltip="click to visit hector's github"
      class="primary-button blue"
    >
      <span class="blue basic">
        G
      </span>
    </button>
    <button
      matTooltip="click to visit hector's linkedin"
      class="primary-button blue"
    >
      <span class="blue basic">
        L
      </span>
    </button>
    <button
      matTooltip="click to see hector's resume"
      class="primary-button teal"
      [routerLink]="['/portfolio/resume']"
    >
      <span class="teal basic">
        R
      </span>
    </button>
    <button
      matTooltip="navigate to the landing page"
      class="primary-button red"
      [routerLink]="['']"
    >
      <span class="red basic">
        H
      </span>
    </button>
  </nav>
</aside>
