.send-resume {
  /* margin-top: 15px; */
  /* margin-left: 24%; */
}
h1 {
  margin-top: 40px;
  display: inline-block;
}
section {
  display: inline-block;
}
button {
  margin: 0 30px;
}
.screen {
  padding-top: 20px;
  position: relative;
  bottom: 1625px;
  left: 10px;
  height: 480px;
  width: 1100px;

  border: solid #ff5555 15px;
  background-color: #ffdd55;
}
.next {
  vertical-align: middle;
  display: inline-block;
  width: 251px;
  height: 95px;
  border: black solid 15px;
  margin-left: 60px;

  text-align: left;
  background-color: #093d8b;
  border-radius: 20px;
  outline: none;
}
.next span {
  padding: 1px 7px;
  position: relative;
  bottom: 15px;
  font-size: 32px;

  border-right: solid black 15px;
  border-bottom: solid black 15px;
}
button.next:active {
  text-align: center;
}
button.next:active span {
  border: solid black 10px;
  font-weight: bold;
  bottom: 0;
}
.contact {
  vertical-align: middle;
  display: inline-block;
  width: 190px;
  height: 95px;
  border: black solid 15px;

  text-align: left;
  background-color: #a53535;
  border-radius: 20px;
  outline: none;
}
.contact span {
  padding: 0 7px;
  position: relative;
  bottom: 15px;
  font-size: 34px;

  border-right: solid black 15px;
  border-bottom: solid black 15px;
}
button.contact:active {
  text-align: center;
}
button.contact:active span {
  border: solid black 10px;
  font-weight: bold;
  bottom: 0;
}
h2 {
  font-size: 60px;
  font-weight: lighter;
}
