<div class="screen display" [@callToAction]="direction">
  <h1>Junior Full Stack Web Developer in Boise</h1>

  <section>
    <app-send-resume-button class="send-resume"></app-send-resume-button>
    <div>
      <button class="next">
        <span class="blue">Next Project</span>
      </button>
    </div>
    <div>
      <button class="contact">
        <span class="blue">Contact</span>
      </button>
    </div>
    <div>
      <button class="home">
        <span class="red">Home</span>
      </button>
    </div>
  </section>
</div>
