<body>
  <header>
    <h1>
      Hector G Diaz
      <span>
        Junior Web Developer in the Boise area
      </span>
    </h1>

    <aside>
      <p>208 871 6024</p>
      <p>hector.g.diaz.the.3rd@gmail.com</p>
      <br />
      <a href="https://github.com/TheLegendBreaker">github account</a>
    </aside>

    <section>
      <legend>Profile:</legend>
      <p>
        I bring the teams I work for further with my passion for finding
        solutions, implementing improvements, and building new things. Lets meet
        to see what I can do for you.
      </p>
    </section>
  </header>
  <main>
    <article class="p-skills">
      <legend>Personal Skills:</legend>
      <br />
      <p>Passion for solving problems and finding creative solutions</p>
      <br />
      <p>Thrive on learning new technologies and concepts</p>
      <br />
      <p>Compulsive about details and procss</p>
      <br />
      <p>Acknowledge when to reach out for guidance</p>
      <br />
      <p>handle stuck points by generating many options for what to do next</p>
    </article>
    <article class="education">
      <p>Coding Dojo, <time>2019</time></p>
      <br />
      <h4>Frameworks:</h4>
      <ul>
        <li>
          Built and deployed several applications in Flask, Django, Angular, and
          Spring Boot. Connected applications to a MySOL or MongoDB server. Each
          app used RESTful routes with CRUD operations
        </li>
        <br />
        <li>
          Built several API's with Express that used RESTful routes with CRUD
          operations.
        </li>
      </ul>
      <br />
      <h4>Languages:</h4>
      <ul>
        <li>HTML5, CSS3 and ES5-ES6</li>
        <li>Python</li>
        <li>Java</li>
        <li>MySQL</li>
      </ul>
      <br />
      <h4>Technologies:</h4>
      <ul>
        <li>MongoDB & Mongoose</li>
        <li>Js Node with Express & Socket</li>
        <li>Git & Git bash</li>
        <li>Flask</li>
        <li>jQuery & Ajax</li>
      </ul>
    </article>
    <article class="work-ex">
      <legend>Recent Work Expiernce:</legend>
      <br />
    </article>
    <article class="more-skills"></article>
  </main>
</body>
