body {
  margin: 0 30px;
}

/* header */
header {
  padding: 25px;
  padding-bottom: 15px;

  border-bottom: solid black 3px;
}
h1 {
  display: inline-block;
  margin-right: 30px;

  font-size: 40px;
}
header h1 span {
  display: block;
  font-size: 18px;
  font-weight: normal;
}
header aside {
  margin-right: 30px;
  display: inline-block;
}
header section {
  display: inline-block;
  width: 450px;
}
/* body */
main {
  height: 390px;
}
article {
  height: 100%;
  display: inline-block;
  padding: 20px;

  vertical-align: top;
  border-right: solid black 3px;
}
article h4 {
  margin-bottom: 5px;
}
main article ul {
  margin-left: 40px;
  margin-bottom: 25px;
  font-size: 12px;
}
.p-skills {
  width: 200px;
  margin-right: 10px;
}
.p-skills p {
  text-align: right;
}
.projects {
  width: 373px;
}
.education {
  padding: 0;
  border: none;
  width: 470px;
}
.education p {
  text-align: center;
}
.education h4 {
  margin-left: 20px;
  margin-bottom: 0;
}
.education small {
  margin-left: 20px;
  display: inline-block;
  margin-bottom: 10px;
}
.education span small {
  margin: 0;
}
.education ul {
  max-width: 190px;
}
.education section {
  padding: 20px;
  border-top: solid black 3px;
}
.education div div {
  display: block;
}
.education div {
  vertical-align: top;
  display: inline-block;
}
.work-ex {
  margin-top: 20px;
}
