<body>
  <header>
    <h1>
      Hector G Diaz
      <span>
        Junior Web Developer in the Boise area
      </span>
    </h1>

    <aside>
      <p>208 871 6024</p>
      <p>hector.g.diaz.the.3rd@gmail.com</p>
      <br />
      <a href="https://github.com/TheLegendBreaker">github account</a>
    </aside>

    <section>
      <p>
        I bring the teams I work for further with my passion for finding
        solutions, implementing improvements, and building new things. Lets meet
        to see what I can do for you.
      </p>
    </section>
  </header>
  <main>
    <article class="p-skills">
      <legend>Personal Skills:</legend>
      <br />
      <p>
        I'm a fresh free lance graphic designer turned Full Stack Web Developer.
      </p>
      <br />
      <p>
        I solve problems by building systems. and I am an enthuist for finding
        effecientcy in systems.
      </p>
      <br />
      <p>
        Thats why, as I learn new Workflow concepts and sytems I employ them
      </p>
    </article>

    <article class="projects">
      <legend>Recent Work Expiernce:</legend>
      <br />
    </article>

    <article class="education">
      <div class="work-ex">
        <div>
          <h4>Online Coding Tutor:</h4>
          <small>Coding Dojo Tutor <Time>2019</Time>-current</small>
          <ul>
            <li>
              Aid students debug and to gain an understanding of key concepts.
            </li>
          </ul>
        </div>
        <div>
          <h4>Coding Dojo:</h4>
          <small>Coding trainning program <time>2019</time></small>
          <ul>
            <li>
              Built and deployed several applications in Flask, Django, Angular,
              and Spring Boot. Connected applications to a MySOL or MongoDB
              server. Each app used RESTful routes with CRUD operations
            </li>
            <br />
            <li>
              Built several API's with Express that used RESTful routes with
              CRUD operations.
            </li>
          </ul>
        </div>
      </div>

      <div class="work-ex">
        <h4>Finishing Shop Manager:</h4>
        <small> Tschikof Cabinets <Time>2016 - 2019</Time> </small>

        <ul>
          <li>
            Learned new equipment and techniques quickly in a fast paced, driven
            environment.
          </li>
          <br />
          <li>
            Received three raises and promoted to an independent position.
          </li>
          <br />
          <li>
            The company relied on me to preform most detail and process
            intensive task, the final touches before the customer received
            product.
          </li>
          <br />
          <li>
            Constantly researched and deployed improvements.
          </li>
        </ul>
      </div>

      <br />
      <section>
        <legend>Comminuty Project</legend>
      </section>
    </article>
  </main>
</body>
