body {
  margin: 0 30px;
}

/* header */
header {
  padding: 20px 25px 5px 25px;
}
h1 {
  display: inline-block;
  margin-right: 30px;

  font-size: 40px;
}
header h1 span {
  display: block;

  font-size: 18px;
  font-weight: normal;
}
header aside {
  margin-right: 100px;
  display: inline-block;
  vertical-align: top;
}
header section {
  display: inline-block;
  width: 400px;
  vertical-align: top;
}
header section p {
  font-size: 14px;
}
/* body */
main {
  height: 490px;
  margin: 0 auto;
}
fieldset {
  height: 100%;
  display: inline-block;

  vertical-align: top;
  border: none;
  border-top: solid black 3px;
  border-right: solid black 3px;
}
legend {
  padding: 10px;
}
article h4 {
  margin-bottom: 5px;
}
fieldset ul {
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: 12px;
}

/* profile */
.profile {
  width: 250px;
}
.profile p {
  margin: 0 20px;
}
.profile legend {
  margin-left: 20px;
  margin-bottom: 10px;
}
.skills {
  margin-top: 10px;
  display: block;
  border-right: none;
}
.skills ul {
  margin: 0 20px;
}
.skills ul li {
  margin-bottom: 10px;
}

/* projects */
.projects {
  width: 373px;
  padding: 0 20px;
}
.projects h4 {
  margin-top: 10px;
}
.projects small {
  margin-bottom: 20px;
}
.projects h5 {
  margin-top: 10px;
}
.projects ul {
  margin: 0 20px;
}

/* education and work */
.education {
  height: 380px;
  padding: 0;
  border-right: none;
  width: 470px;
}
.education legend {
  margin-left: 40px;
}
.education p {
  text-align: center;
}
.education h4 {
  margin-left: 20px;
  margin-bottom: 0;
}
.education small {
  margin-left: 20px;
  display: inline-block;
  margin-bottom: 10px;
}
.education span small {
  margin: 0;
}
.education ul {
  max-width: 190px;
}
.education div div {
  display: block;
}
.education div {
  vertical-align: top;
  display: inline-block;
}
.work-ex {
  margin-top: 10px;
}

.community {
  padding: 20px;
  height: auto;
  display: block;
  border-right: none;
}
.community ul {
  position: relative;
  bottom: 20px;
  display: inline-block;
  max-width: 100%;
}
