<div (click)="scroll('Left')" class="direction-button-listener">
  <button class="left-button direction-button">left</button>
</div>
<div class="display-container">
  <div id="screen1" [@screen1]="direction">
    screen 1
    <img src="{{ display[1] }}" alt="{{ display[1] }}" />
    {{ direction }}
  </div>
  <div id="screen2" [@screen2]="direction">
    screen2
    <img src="{{ que[1] }}" alt="{{ que[1] }}" />
    {{ direction }}
  </div>
</div>
<div (click)="scroll('Right')" class="direction-button-listener">
  <button class="right-button direction-button">
    right
  </button>
</div>
