<div (click)="scroll('Left')" class="direction-button-listener">
  <button class="left-button direction-button">left</button>
</div>
<div class="display-container">
  <div id="screen1" [@screen1]="direction">
    screen 1
    {{ direction }}
    <app-display-project></app-display-project>
  </div>
  <div id="screen2" [@screen2]="direction">
    screen2
    {{ direction }}
    <app-display-project></app-display-project>
  </div>
</div>
<div (click)="scroll('Right')" class="direction-button-listener">
  <button class="right-button direction-button">
    right
  </button>
</div>
