main {
  margin-bottom: 0;
}

.display-container {
  height: 550px;
  width: 1150px;
  text-align: center;
  overflow: hidden;
}

#screen1 {
  display: inline-block;
  width: 1100px;
  height: 500px;

  position: relative;

  background-color: white;
  border: black solid 15px;
}
#screen2 {
  display: inline-block;
  width: 1100px;
  height: 500px;

  position: relative;
  bottom: -30px;

  background-color: white;
  border: black solid 15px;
}

div {
  vertical-align: middle;
  display: inline-block;
}
