small {
  position: relative;
}
/* set up the look for the reel navagation buttons */
button {
  color: none;
  background-color: none;
}
.direction-button-listener {
  display: inline-block;
}
.up-button {
  clip-path: polygon(96% 100%, 50% 20%, 4% 100%, 0 85%, 50% 0, 100% 85%);
  width: 300px;
  height: 120px;

  background-color: #0066ff;
}
.down-button {
  clip-path: polygon(100% 15%, 50% 100%, 0% 15%, 4% 0%, 50% 80%, 96% 0%);
  width: 300px;
  height: 120px;

  background-color: #0066ff;
}
/* set up client side animations */
div.direction-button-listener:active button.direction-button {
  background-color: #ffaaaa;
}

/* reel styling */
.display-container {
  width: 700px;
  height: 500px;
  overflow: hidden;
  display: inline-block;

  text-align: center;
}

#screen1 {
  height: 400px;
  width: 600px;
  margin: 30px 0px;

  position: relative;
  left: 35px;

  background-color: white;
  border-radius: 3px;
  border: black solid 15px;
}
#screen2 {
  height: 400px;
  width: 600px;
  margin: 30px 0px;

  position: relative;
  left: 35px;
  bottom: 460px;

  background-color: white;
  border-radius: 3px;
  border: black solid 15px;
}

img {
  height: 100%;
  width: 100%;
}

/* welcome content styling */
p {
  width: 550px;
  display: inline-block;
  padding: 8px 0px;
}

#elevator-pitch {
  margin: 0px auto;
  margin-top: 40px;
}
