<div class="display-container">
  <div
    matTooltip="click to check out this project"
    matTooltipPosition="above"
    id="screen1"
    [@screen1]="screen"
    (click)="navToProjectDisplay()"
    [@hover]="screen1Hover"
    (mouseenter)="hovered()"
    (mouseleave)="unHovered()"
  >
    <img
      *ngIf="display[0] !== null"
      src="{{ display[1] }}"
      alt="{{ display[1] }}"
    />
  </div>

  <div
    matTooltip="click to check out this project"
    matTooltipPosition="above"
    id="screen2"
    [@screen2]="screen"
    (click)="navToProjectQue()"
    [@hover]="screen2Hover"
    (mouseenter)="screen2Hovered()"
    (mouseleave)="screen2UnHovered()"
  >
    <img *ngIf="que[0]" src="{{ que[1] }}" alt="{{ que[1] }}" />
  </div>
  <div
    matTooltip="click to check out hector's resume"
    matTooltipPosition="above"
    id="intro"
    [@intro]="screenIntro"
    (click)="navToResume()"
    [@hover]="screen2Hover"
    (mouseenter)="screen2Hovered()"
    (mouseleave)="screen2UnHovered()"
  >
    <p class="top">
	Two years ago, I decided to make a career change into web development. I began with self-study and ended with a fourteen-week training program for coding. There I learned many skills from setting up a database, to DOM manipulation, to deploying. Learning to code is like learning super powers. If I can imagine it, with just a laptop and time I can make it.
    </p>
    <br />
    <p>
     	I'm excited to bring my ideas to the web. My goal is to create intirgueing expierences while I continuely up my circle of knowlege and skills. Currently I am learning to apply the DevOps lifecycle within my own work with, Docker, Kubernetes, Jenkins, and Istio.
    </p>
    <br />
    <p>
       Have a look around. If you've got an idea that looks like it's in my wheel house, head over to the contact page and send me message to get startedf.  
    </p>
  </div>
</div>
