main {
  position: relative;
}
div {
  display: inline-block;
  position: relative;
  bottom: 930px;
  width: 1500px;
  background-image: url('../assets/router_animation/routeTransition.gif');
  background-size: 100%;
  opacity: 0;
  transform: scale(0);
}
