<article>
  <section class="screen1" [@screen1]="direction">
    <h3>Project 1</h3>
    <p>
      here is my project. these are the technologies I used. here are the
      features I made. here are the problems I solved
    </p>
    {{ direction }}
  </section>
  <section class="screen2" [@screen2]="direction">
    <h3>Project 2</h3>
    <p>
      here is my project. these are the technologies I used. here are the
      features I made. here are the problems I solved
    </p>
    {{ direction }}
  </section>
</article>
