button {
  position: relative;
  z-index: 10;
}
.resume {
  top: 35px;
  left: 55px;
}
.home {
  top: 35px;
  left: 1320px;
}
main {
  display: inline-block;
  position: relative;
  bottom: 40px;
  padding: 0 2.5%;
  margin-top: 20px;
}
article {
  position: relative;
  bottom: 20px;
  display: block;
  padding-left: 11.5%;
}

aside {
  display: inline-block;
  vertical-align: top;
}

.stacked {
  display: block;
  margin: 60px 30px;
}

.top {
  margin-top: 40px;
}
.direction-button-listener {
  display: inline-block;
}
.direction-button-listener button {
  width: 120px;
  height: 350px;

  background-color: #0066ff;
  outline: none;
  border: none;
}
.right-button {
  clip-path: polygon(13% 0, 100% 50%, 11% 100%, 0 97%, 82% 50%, 0 3%);
}
.left-button {
  clip-path: polygon(99% 3%, 18% 50%, 100% 97%, 84% 100%, 0 50%, 85% 0);
}
div.direction-button-listener:active button.direction-button {
  background-color: #ffaaaa;
}
