<mat-icon
  class="nav-icon"
  svgIcon="nav"
  [matMenuTriggerFor]="rootMenu"
></mat-icon>
<mat-menu #rootMenu="matMenu" class="menu" xPosition="before">
  <button mat-menu-item (click)="navToHome()">Home</button>
  <button mat-menu-item (click)="navToContact()">Contact</button>
  <button mat-menu-item (click)="navToResume()">Resume</button>
  <button mat-menu-item><a>GitHub</a></button>
  <button mat-menu-item><a>LinkedIn</a></button>
  <p [matMenuTriggerFor]="subMenu" mat-menu-item>projects</p>
</mat-menu>
<mat-menu #subMenu="matMenu" class="menu" xPosition="before">
  <button mat-menu-item (click)="navToProject(1)">project 1</button>
  <button mat-menu-item>project 2</button>
  <button mat-menu-item>project 2</button>
  <button mat-menu-item>project 2</button>
</mat-menu>
