<section>
  <div id="resume-button-base">
    <button id="resume-button" (click)="navToResume()">
      <span class="resume-button">
        resume
      </span>
    </button>
  </div>
  <div id="main-content">
    <app-landing-blurb> </app-landing-blurb>
  </div>
  <nav>
    <a href="https://github.com/TheLegendBreaker" target="_blank">
      <button class="primary-button blue" matTooltip="visit hector's github">
        <span class="blue basic"> G</span>
      </button>
    </a>
    <a href="https://linkedin.com/in/hector-diaz-64445b105" target="_blank">
      <button class="primary-button blue" matTooltip="visit hector's linkedin">
        <span class="blue basic"> L</span>
      </button>
    </a>
    <button class="primary-button blue" (click)="navToContact()" matTooltip="contact hector">
      <span class="blue basic">C</span>
    </button>
    <button class="primary-button red" (click)="pause()" matTooltip="pause">
      <span class="red basic">P</span>
    </button>
  </nav>
</section>
<aside>
  <div (click)="scroll('Up')" class="direction-button-listener">
    <button class="up-button direction-button">up</button>
  </div>
  <!-- also use ans output main-content's content -->
  <app-reel></app-reel>
  <div (click)="scroll('Down')" class="direction-button-listener">
    <button class="down-button direction-button">
      down
    </button>
  </div>
</aside>
