::ng-deep .mat-tooltip {
  border: solid black 8px;
  font-size: 16px;
  background-color: #ff5555;
}
h1 {
  margin-top: 30px;

  text-align: center;
}
.form {
  font-size: 24px;
}
label {
  width: 200px;
  display: inline-block;
  padding: 2px;
  margin-left: 15px;

  text-align: center;
  border: solid black 15px;
  border-bottom: none;
}
input {
  display: block;
  width: 470px;
  /* max-width: 502px; */
  height: 50px;
  margin-bottom: 20px;

  border: solid black 15px;
}
textarea {
  display: block;
  margin: 0;
  margin-bottom: 50px;

  font-size: 12px;
  border: solid black 15px;
  resize: none;
}
section {
  display: inline-block;
  padding: 0 100px;
  padding-bottom: 100px;
  margin: 0 30px;
}
aside {
  display: inline-block;
  width: 600px;
  vertical-align: top;
}

nav {
  text-align: center;
  padding: 30px 15px;
}
nav button {
  margin: 0 20px;
}
aside div {
  height: 300px;
  margin-top: 100px;

  border-radius: 80px;
  border: solid black 15px;
  background-color: #80b3ff;
}

.send {
  vertical-align: middle;
  display: inline-block;
  width: 150px;
  height: 95px;
  margin-left: 10%;
  border: black solid 15px;

  text-align: left;
  background-color: #093d8b;
  border-radius: 20px;
  outline: none;
}

.send span {
  padding: 0 7px;
  position: relative;
  bottom: 15px;
  font-size: 34px;

  color: white;
  border-right: solid black 15px;
  border-bottom: solid black 15px;
}

button.send:active {
  text-align: center;
}
button.send:active span {
  border: solid black 10px;
  font-weight: bold;
  bottom: 0;
}
