<form #emailForm="ngForm" class="red">
  <label for="name" class="form">name</label>
  <input
    type="text"
    class="form"
    name="name"
    required
    [ngModel]="email.senderName"
  />

  <label for="from" class="form">email</label>
  <input
    type="email"
    name="from"
    class="form "
    required
    ngModel
    email
    [ngModel]="email.from"
  />
  <div>
    <button
      [disabled]="!emailForm.valid"
      type="submit"
      class="send"
      (click)="close(emailForm)"
    >
      <span class="blue">
        send
      </span>
    </button>
  </div>
</form>
